<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <!-- Custom styles for this template -->
<!-- Latest compiled and minified CSS -->
  <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="bundle.js"></script>
  <link rel='stylesheet' href='/bootstrap/flatly/theme/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
 .grid {
  height: 75%;
 }
  .item {
  border-radius: 5px;
  width:  350px;
  height: auto;
  float: left;
  border: 2px solid #333; 
  list-style-type: none;
  background-color: #f2f2f2;
  color: black;
  text-wrap: suppress;
  display: inline-block;
  margin: 10px;

 }
  </style>
    <script>

    </script>

  
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Sigmafy</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Welcome </a></li>
        <li class="active"><a href="/projects">Projects</a></li>
        <li><a href="/skills">Skills</a></li>
        <li><a href="/education">Education</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://reflectechblog.wordpress.com/">Blog</a></li>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <div class="container-header">
          <h5 id="white-text" class="quote about-quote">Perseverance is an active principle, and cannot continue to operate but under the influence of desire. </h5>
          <h5 id="white-text" class="quote author-quote">William Godwin </h5>
       <img src="images/tram-966460.jpg" class="index-header" "img-responsive" align="center">
 
    </div>
      <!-- going to pull out the tweets and see if I can make a single page app -->
 
 <div class="container-fluid">
 
 <div class="grid">  
      <div class="item">
        <h4>First NodeJS/ExpressJS Project</h4>
        <p style="float: left;"><img src="images/greekeye.jpg" height="40px" width="50px" border="1px"></p>
      <h4>YourFinancialIntel</h4>
      <p> want to put a bit about tools used, lessons learned etc  </p>
      <a href="http://www.yourfinancialintel.com">Check it out!</a>
      </div>
     
      <div class="item">
        <h4>Java</h4>
        <p> Created a Game called NimGame </p>
      </div>
   
        
    </div> <!-- ends the grid -->
    <div class="push"></div>
  </div>
   <footer class="footer">
  <p id="white-text" style="text-align: center; font-weight: bold">Copyright &copy; 2015, All Rights Reserved</p>      
  </footer>

</body>
</html>